# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

.vs
.vscode
/msvc/Debug
/msvc/*.user
build/
/msvc/Release
/msvc/x64/Debug
bin/
msvc/inmotion-depth-camera-sdk/Debug/
msvc/inmotion-depth-camera-sdk/Release/
*.filters
*.user

msvc/obj/
doc/
*.cd
obj/
*.ini
*.ttf
.idea
cmake-build*
